@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row text-center" aria-labelledby="aspnetTitle">
        <h1 id="title">Ticket Vendor System</h1>
        <p class="lead">This is a demo for the course Software Engineer - Progress 2</p>
        <p>Click here for demo</p>
        <p><a href="https://localhost:44389/Train" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>
</main>